# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go build artifacts
*.out
*.log

# Directories
bin/
build/
dist/

# Dependency directories (if you vendor packages)
vendor/

# Go workspace cache
*.prof
*.pprof
*.env
*.tmp

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db


storage